body {
  background-color: rgb(17, 202, 150);
}
.sum1 {
  background-color: aliceblue;
}
.sum2 {
 background-color: hotpink;
}
.sum3 {
  background-color: rgb(238, 230, 15);
 }
 .sum4 {
  background-color: rgb(105, 113, 255);
 }
 .sum5 {
  background-color: rgb(143, 30, 224);
 }