<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advanced positioning</title>
  <link rel="stylesheet" href="./index4.css">
</head>
<body>
  <div class="nav-container">
    <div class="nav-bar">
      <ul class="links-wrapper">
        <li><a class="nav-links home-main" href="">Home</a></li>
        <li><a class="nav-links" href="">Menu 1</a></li>
        <li class="menu-hover">
          <a class="nav-links menu-2" href="">Menu 2</a>
          <ul class="sub-menu">
            <li><a class="sub-links" href="">Sub Menu 1</a></li>
            <li><a class="sub-links" href="">Sub Menu 2</a></li>
            <li><a class="sub-links" href="">Sub Menu 3</a></li>
          </ul>
        </li>
        <li><a class="nav-links" href="">Menu 3</a></li>
      </ul>
    </div>
  </div>
  
</body>
</html>